*{
    /* 初始化 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    /* 弹性布局 居中显示 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #efefef;
}
.container{
    width: 100vw;
    max-width: 850px;
    height: 350px;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 10px 50px rgba(0,0,0,0.3);
    position: relative;
}
.card{
    /* 弹性布局 垂直居中 */
    display: flex;
    align-items: center;
    width: 100%;
    height: 350px;
    padding-left: 30px;
    /* 绝对定位 */
    position: absolute;
    /* 溢出隐藏 */
    overflow: hidden;
}
.card .img{
    width: 260px;
    height: 260px;
    border-radius: 20px;
    overflow: hidden;
    /* 防止被挤压 */
    flex-shrink: 0;
    box-shadow: 0 10px 50px rgba(0,0,0,0.2);
}
.card .img img{
    width: 100%;
    height: 100%;
    /* 图片默认隐藏 */
    opacity: 0;
    /* 过渡效果 */
    transition: 0.6s;
}
/* 通过单选框的checked来显示指定图片 */
/* ~是兄弟选择器 */
#slide_1:checked ~ .card-1 img,
#slide_2:checked ~ .card-2 img,
#slide_3:checked ~ .card-3 img{
    /* 图片显示 */
    opacity: 1;
    /* 过渡延迟 */
    transition-delay: 0.2s;
}
.card .content{
    flex: 1;
    padding: 0 30px 0 35px;
    position: relative;
    /* 默认偏右一点 */
    left: 50px;
    /* 文本内容默认隐藏 */
    opacity: 0;
    /* 过渡效果 */
    transition: 0.6s;
}
/* 通过单选框的checked来显示指定文本内容 */
#slide_1:checked ~ .card-1 .content,
#slide_2:checked ~ .card-2 .content,
#slide_3:checked ~ .card-3 .content{
    opacity: 1;
    z-index: 9;
    left: 0;
    transition-delay: 0.3s;
}
.card .title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}
.card .text{
    font-size: 17px;
    color: #555;
    text-align: justify;
    margin-bottom: 25px;
}
.card a{
    padding: 13px 20px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 50px;
    letter-spacing: 1px;
    font-weight: 600;
    box-shadow: 0 10px 50px rgba(0,0,0,0.2);
    float: right;
}
/* 指示器 */
.slider{
    position: absolute;
    bottom: 25px;
    left: 55%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider .slide{
    width: 50px;
    height: 10px;
    background-color: #dfdfdf;
    display: inline-flex;
    margin: 0 3px;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
/* 指示器的黑色进度条 */
.slider .slide::before{
    content: "";
    width: 0%;
    height: 100%;
    background-color: #000;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.6s;
}
/* 通过单选框的checked来显示指定指示器的黑色进度条 */
#slide_1:checked ~ .slider .slide-1::before,
#slide_2:checked ~ .slider .slide-2::before,
#slide_3:checked ~ .slider .slide-3::before{
    width: 100%;
    transform: scaleX(1);
}