*{
    /* 初始化 */
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    /* 弹性布局 水平+垂直居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    /* 渐变背景 */
    background: linear-gradient(200deg,#fff,#dfe9f3);
}
ul{
    /* 让li水平排列 */
    display: flex;
}
ul li{
    /* 相对定位 */
    position: relative;
    list-style: none;
    width: 160px;
    height: 50px;
    /* 光标变小手 */
    cursor: pointer;
    /* 开启3D */
    transform-style: preserve-3d;
    /* 设置过渡 */
    transition: 0.5s;
}
ul li div{
    /* 绝对定位 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
/* 每个li元素里的第一个div */
ul li div:first-child{
    background-color: #72afd3;
    transform: translateZ(25px);
}
/* 每个li元素里的最后一个div */
ul li div:last-child{
    background-color: #468fb9;
    transform: translateY(25px) rotateX(-90deg);
}
/* 鼠标移入沿X轴旋转90度 */
ul li:hover{
    transform: rotateX(90deg);
}