#container{
	height: 320px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #f0f0f0;
}
#container img{
	display: block;
	margin-top: 50px;
	width: 500px;
	left: 0;
	position: absolute;
	border: 1px solid #ccc;
}