*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    background: url(/images/164/sky.jpg);
}
#fly{
    width: 60px;
    height: 60px;
    background: url(/images/164/fly.png) no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}