* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  background-color: #fff;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  transform-style: preserve-3d;
  min-height: 85vh;
  display: flex;
  width: 27rem;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 5rem;
  border-radius: 30px;
  box-shadow: 0 20px 20px rgb(0 0 0 / 20%), 0px 0px 50px rgb(0 0 0 / 20%);
}

.sneaker {
  height: 31vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sneaker img {
  width: 14rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circle {
  width: 12rem;
  height: 12rem;
  background: linear-gradient( to right, rgba(116, 25, 2, 0.75), rgba(0, 0, 0, 0.75) );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  padding-top: 1rem;
  font-size: 2rem;
  transition: all 0.75s ease-out;
}
.info h3 {
  font-size: 1rem;
  padding: 1rem 0rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}
.name {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}
.name button {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #585858;
}
button.active {
  background: #585858;
  color: white;
}
.purchase {
  margin-top: 5rem;
  transition: all 0.75s ease-out;
}
.purchase button {
  width: 100%;
  padding: 1rem 0rem;
  background: #f54642;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}
